.don-cion{
    text-align: center; 
    padding-top: 25px;
    padding-bottom: 10px;
}
.eventos{
    text-align: center; 
    padding-top: 25px;
    padding-bottom: 10px;

}

.search-container{
    text-align: center;
   
    margin-top: 20px;
    padding-bottom: 20px;
    
}  
#titulo{
    text-align: center;
    
    padding: 20px;
}

/*#results-container{
    background-color: aqua;
    margin-top: 20px;
    
}*/

body {
    background-image: url('alc.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}
.proyecto{
    margin-left:auto;
    margin-right:auto;
}
